h4{
	font-size: 18px;
}
.resume{
	margin: 0 10px;
}
.resume > h4{
	margin-top: 10px;
}
.resume > p{
	margin: 5px 0 0 10px;
}
.resume > ul{
	margin: 5px 0 0 10px;
	list-style: disc inside;
}
.termin {
	font-weight: 600;
	font-style: oblique;
}
